html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100vh;
    overflow: hidden;
    scroll-behavior: smooth;
}

.scroll-container{
    overflow: scroll;
    height: 100vh;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.scroll-container .scroll-item{
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
    scroll-behavior: smooth;
}

/* lineup class and keyframes */
.lineUp {
    animation-delay: 2s;
    animation: 5s anim-lineUp ease-out;
}
@keyframes anim-lineUp {
    0% {
    opacity: 0;
    transform: translateY(80%);
    }
    20% {
    opacity: 0;
    }
    50% {
    opacity: 1;
    transform: translateY(0%);
    }
    100% {
    opacity: 1;
    transform: translateY(0%);
    }
}

.nav-sidebar{
    margin-top: auto;
    margin-bottom: auto;
}

.xcenter {
    margin-top: auto;
    margin-bottom: auto;
}